<p>Dashboard Analytics works!</p>

<div *ngFor="let data of listOfFruits; let i = index">
	<div *ngIf="data">
		<p (click)="navigateToDetail(data.id)">{{ i + 1 }} - {{ data.name }}</p>

		<!-- What if, when I click on the <p> tag, it would navigate to a new page, which is projects/{fruitID} -->
		<!-- Meaning : if I were to press "mango", "mango" has an id of "5" -- I would want to navigate to projects/5 -->
	</div>
</div>
