<p>Landing page works.</p>

<app-buttons (ahmadHandsome)="handleButtonClick()" [textOfAButton]="buttonText"></app-buttons>

<!-- 
    [childComponentVariable]="parentComponentVariable"
    Klu kita nak pass data dari parent -> child, kita pakai @Input()
    Klu kita nak pass data dari child -> parent, kita pakai @Output()
-->

<!-- Input -- Nak passing data from parent component to child component -->
<!-- Output -- Nak passing data from child component to parent component -->

<!-- 
    Component mana yg pakai selector "<>" -- it's a parent component
    Your selector -- it's a child component
-->

<!-- [textOfAButton] -- variable ini datang daripada child component -->
<!-- buttonText -- variable ini datang daripada parent component -->

<!-- (buttonClick) is an event emitter from the child component -->
<!-- handleButtonClick() is function that we created from the parent component -->
