<p>home works!</p>

<app-buttons [textOfAButton]="buttonText"></app-buttons>

<div *ngIf="listOfFruits.length === 0">Hello.</div>

<div *ngFor="let data of listOfFruits; let i = index">
	<div *ngIf="data">
		<p>{{ i + 1 }} - {{ data.name }}</p>
	</div>
</div>

<div>{{ postsList | json }}</div>

<!--
    1. Create a card component ( a low level card component )
    2. Pass in the list of fruits to the card component.
        - This will be the tutorial of how to pass data from parent to child component.
        - and also how to use ngFor.
    3. If isLowStock: true, card color has to be red ( jangan pekat sangat ).
    4. If isLowStock: false, card color has to be green ( jangan pekat sangat ).
        Point 3 and 4, will be the tutorial on how to use *ngIf.
-->
